*{
  box-sizing: border-box;
  margin:0;
  /* border:1px solid black;
  padding:5px; */
}

.container{
  width:1200px;
  margin:auto;
  background-color: white;
}

.container-row{
  width: 995px;
  margin:auto;
}
.container-foto{
  display: inline-block;
  position:relative;
}

.sales{
  position: absolute;
  top:0;
  right:0;
  width:40px;
  background-color: green;
  text-align: center;

}

.heart{
  width:100%;
  text-align: center;
  position: absolute;
  bottom:0;
  padding-bottom: 10px;
  color: red;
  display: none;
}

.container-foto:hover .heart{
  display: block;
}
