*{
  box-sizing: border-box;
  margin:0;
  /* border:1px solid black;
  padding:5px; */
}

.container{
  width:1200px;
  margin:auto;
  background-color: white;
}

.container-row{
  width: 995px;
  margin:auto;
}
.container-foto{
  display: inline-block;
}
